spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres
    url: jdbc:postgresql://localhost:5432/screener
  flyway:
    locations: classpath:db/migration

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
#    show-sql: true

management:
  endpoints:
    web:
      exposure:
        include: '*'

jwt:
  secret: "SECRET"

logging:
  level:
    org:
      hibernate:
        SQL=DEBUG:

server:
  port: 8087