<!DOCTYPE html>
<html lang="en">
<head>
    <title>Screener</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="30">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+6en8XCp+HHAAK5GSLf2xlYtvJ8U2Q4U+9cuEnJoa3" crossorigin="anonymous">
</head>
<body>
    <header class="body-header">
        <a href="/"><i class="fas fa-home" style="margin-right: 5px;"></i>Home</a>
        <a href="/user/register"><i class="fas fa-user-plus" style="margin-right: 5px;"></i>Register</a>
        <a href="/user/login"><i class="fas fa-sign-in-alt" style="margin-right: 5px;"></i>Login</a>
        <a href="/api/showNotifications"><i class="fas fa-bell" style="margin-right: 5px;"></i>Notifications</a>
    </header>

    <div class="notifications">
        <h3 class="notifications-title">Notifications</h3>
        <span th:each="notification, iterStat : ${notifications}" th:if="${iterStat.index < 30}">
            <div class="notification">
                <div class="notification-info">
                    <span th:text="${notification.tickerName.tickerName}"></span>
                    <span class="notification-time" th:text="${#temporals.format(notification.createdAt, 'HH:mm:ss.SSS')}"></span>
                </div>
                <div class="price-value">
                    <span th:text="${notification.price}"></span>
                    <div class="color-box-container">
                        <span th:if="${notification.isAsk}" class="color-box red"></span>
                        <span th:if="${notification.isBid}" class="color-box green"></span>
                    </div>
                    <span th:if="${notification.value <= 1000}" th:text="${notification.value}"></span>
                    <span th:if="${notification.value > 1000 and notification.value < 1000000}" th:text="${#numbers.formatDecimal(notification.value / 1000, 0, 'COMMA', 0, 'POINT')} + 'k'"></span>
                    <span th:if="${notification.value >= 1000000}" th:text="${#numbers.formatDecimal(notification.value / 1000000, 0, 'COMMA', 0, 'POINT')} + 'M'"></span>
                </div>
            </div>
        </span>
    </div>

    <div class="container">
        <span th:each="dom : ${doms}">
            <div class="card">
                <div class="header">
                    <div class="background">
                        <a class="left-link" th:href="@{'https://www.kucoin.com/trade/' + ${dom.tickerName.tickerName}}" target="_blank">
                            <div class="q-avatar exchange-name">
                                <div class="q-avatar__content row flex-center overflow-hidden">
                                    <img src="https://altcoinsbox.com/wp-content/uploads/2023/01/kucoin-logo-300x300.webp" alt="Kucoin logo" width="16" height="16">
                                </div>
                            </div>
                        </a>
                        <h2 th:text="${dom.tickerName.tickerName}" class="center-title"></h2>
                        <a class="right-link" th:href="@{'https://coinmarketcap.com/currencies/' + ${#strings.arraySplit(dom.tickerName.tickerName, '-')[0]}}" target="_blank">
                            <div class="q-avatar exchange-name">
                                <div class="q-avatar__content row flex-center overflow-hidden">
                                    <img src="https://seeklogo.com/images/C/coinmarketcap-logo-064D167A0E-seeklogo.com.png" alt="Coinmarketcap logo" width="16" height="16">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="body">
                    <table>
                        <tbody>
                            <tr th:each="ask : ${dom.asks}" class="volume-row">
                                <td class="volume-column">
                                    <div class="volume-row-container">
                                        <div class="background default-volume-bg-color"></div>
                                        <div class="text">
                                            <span th:if="${ask.amount <= 1000}" th:text="${ask.amount.toString()}"></span>
                                            <span th:if="${ask.amount > 1000 and ask.amount < 1000000}" th:text="${#numbers.formatDecimal(ask.amount / 1000, 0, 'COMMA', 0, 'POINT')} + 'k'"></span>
                                            <span th:if="${ask.amount >= 1000000}" th:text="${#numbers.formatDecimal(ask.amount / 1000000, 0, 'COMMA', 0, 'POINT')} + 'M'"></span>
                                            <span class="volume-usd" th:text="${#numbers.formatDecimal(ask.volumeInUsd, 0, 'COMMA', 0, 'POINT')} + '$'"></span>
                                        </div>
                                    </div>
                                </td>
                                <td class="price-column ask-bg-color" th:text="${ask.price.toString()}"></td>
                                <td class="distance-column ask-bg-color">
                                    <div>
                                        <span th:text="${ask.range + '%'}"></span>
                                    </div>
                                </td>
                                <td class="distance-column ask-bg-color">
                                    <span class="percentage-daily-volume" th:text="${ask.percentageOfDailyVolume + '%'}"></span>
                                </td>
                            </tr>
                            <tr th:each="bid : ${dom.bids}" class="volume-row">
                                <td class="volume-column">
                                    <div class="volume-row-container">
                                        <div class="background default-volume-bg-color"></div>
                                        <div class="text">
                                            <span th:if="${bid.amount <= 1000}" th:text="${bid.amount.toString()}"></span>
                                            <span th:if="${bid.amount > 1000 and bid.amount < 1000000}" th:text="${#numbers.formatDecimal(bid.amount / 1000, 0, 'COMMA', 0, 'POINT')} + 'k'"></span>
                                            <span th:if="${bid.amount >= 1000000}" th:text="${#numbers.formatDecimal(bid.amount / 1000000, 0, 'COMMA', 0, 'POINT')} + 'M'"></span>
                                            <span class="volume-usd" th:text="${#numbers.formatDecimal(bid.volumeInUsd, 0, 'COMMA', 0, 'POINT')} + '$'"></span>
                                        </div>
                                    </div>
                                </td>
                                <td class="price-column bid-bg-color" th:text="${bid.price.toString()}"></td>
                                <td class="distance-column bid-bg-color">
                                    <div>
                                        <span th:text="${bid.range + '%'}"></span>
                                    </div>
                                </td>
                                <td class="distance-column bid-bg-color">
                                    <span class="percentage-daily-volume" th:text="${bid.percentageOfDailyVolume + '%'}"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </span>
    </div>
</body>

</html>
