.sidebar {
    position: fixed;
    top: -300px;
    transition: top 0.5s;
    padding-right: 10px;
    padding-left: 10px;
    height: 50px;
    width: 100%;
    left: 0;
    display: flex;
    flex-direction: row;
    background-color: #994fb2;
}
.beautiful-button {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}
.beautiful-button:hover {
    background-color: black;
    color: white;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-gap: 10px;
}